*.kicad_prl
*.kicad_sch-bak
*.rpt
*.xls
*.csv
*.d356
*.lck
*.gbrjob
*.kicad_sch
*.xml
*.kicad_pcb
*.kicad_pro
/fp-info-cache
/daemon_baseboard_v2/daemon_baseboard_v2-backups
/daemon_baseboard_v2/temp
/daemon_baseboard_v2/fp-info-cache
/Linux_for_Tegra
/public_sources.tbz2

